<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>602532098960-l3if3il6ia8r83ljnte8j7bdocojq3pp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602532098960-l3if3il6ia8r83ljnte8j7bdocojq3pp</string>
	<key>API_KEY</key>
	<string>AIzaSyBuDIhqGcmtanNaEswOzXw_wbflGtAXiA8</string>
	<key>GCM_SENDER_ID</key>
	<string>602532098960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tienbm.MapLocation</string>
	<key>PROJECT_ID</key>
	<string>transporter-31abe</string>
	<key>STORAGE_BUCKET</key>
	<string>transporter-31abe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:602532098960:ios:5a0af2c4912b11f3</string>
	<key>DATABASE_URL</key>
	<string>https://transporter-31abe.firebaseio.com</string>
</dict>
</plist>